@{
    ViewData["Title"] = "Дозы, получаемые человеком от различных источников радиации";
}

<div class="left text-left">
    <h5 class="text-center">@ViewBag.Title</h5>
    <ol type="number">
        <li>
            От естественных радионуклидов и солнечного излучения – до 0,6 мЗв/год        
            <div class="pictures text-center mt-2">
                <div class="pictures_line text-center">
                    <img src="~/radiation12.png" class="pic_bigger" />
                </div>
            </div>
        </li>

        <li>
            При медицинском обследовании и от промышленных источников — до 0,4 мЗв/год
            <div class="pictures text-center mt-2">
                <div class="pictures_line text-center">
                    <img src="~/radiation13.png" class="pic_bigger" />
                </div>
            </div>
        </li>
    </ol>
</div>
<div class="right text-left">
    <ol type="number">
        <li value="3">
            Во время перелета на самолете на высоте 8500 м мощность дозы излучения составляет 1,5 мкЗв/час через 20 минут после взлета.
            <div class="pictures text-center mt-2">
                <div class="pictures_line text-center">
                    <img src="~/radiation14.png" class="pic_bigger" />
                </div>
            </div>
        </li>
        <li>
            Во время полета на высоте 12 000 м мощность дозы излучения составляет 3,5 мкЗв/час. 2 часа 35 мин – примерно 40 микрозивертов
            <div class="pictures text-center mt-2">
                <div class="pictures_line text-center">
                    <img src="~/radiation15.png" class="pic_bigger" />
                </div>
            </div>
        </li>
    </ol>
</div>

