@{
    ViewData["Title"] = "Дозы радиационного облучения";
}

<div class="left text-left">
    <h5 class="text-center">@ViewBag.Title</h5>
    <p>
        <b>При одинаковой поглощенной дозе</b> альфа-излучение гораздо опаснее бета- и гамма-излучений. Степень воздействия различных видов излучения на человека оценивают с помощью такой характеристики как эквивалентная доза. <b>Эквивалентная доза</b> учитывает способность различных видов излучения по-разному повреждать ткани организма. В системе СИ ее измеряют в единицах, называемых зивертами (Зв).
    </p>
    <p>
        <b>Поглощенная доза</b> –— это энергия излучения, поглощенная тканями
        организма, в расчете на единицу массы тела
    </p>
    <p>
        <b>Эквивалентная доза</b> отражает способность каждого вида
        излучения повреждать ткани и органы живого организма
    </p>
    <div class="pictures text-center mt-2">
        <div class="pictures_line text-center">
            <img src="~/radiation10.png" class="pic" />
        </div>
    </div>
</div>
<div class="right text-left">
    <div class="pictures text-center mt-2">
        <div class="pictures_line text-center">
            <img src="~/radiation11.png" class="pic_full" />
        </div>
    </div>
</div>

