@{
    ViewData["Title"] = "Главная";
}

<div class="left text-left indexleft">
    <div class="start">
        <p class="font-italic font-weight-bold">Выражаю огромную благодарность за полученные знания преподавателям Республиканского Центра по подготовке специалистов по радиационной безопасности Минздрава РУз:</p>
        <ul class="font-italic font-weight-bold">
            <li>д.м.н., профессору Д.А. Зарединову;</li>
            <li>PhD, старшему преподавателю М.В. Ли.</li>
        </ul>
    </div>
    <div class="text text-right">
        <p>Создатель сайта:
        Ахрарходжаев Шахзод - ученик 10 "А" класса
        школы №60 г. Ташкента</p>
    </div>
</div>
<div class="right text-left indexright">
    <h5 class="text-center">Памятка населению: "Что нужно знать о радиации?"</h5>
    <ol type="number" class="font-italic font-weight-bold">
        <li><a class="text-decoration-none text-dark" asp-area="" asp-controller="Home" asp-action="Radiation">Что такое радиация?</a></li>
        <li><a class="text-decoration-none text-dark" asp-area="" asp-controller="Home" asp-action="Radioaktiv">Что такое радиоактивность?</a></li>
        <li><a class="text-decoration-none text-dark" asp-area="" asp-controller="Home" asp-action="Izluchtypes">Виды ионизируещих излучений.</a></li>
        <li><a class="text-decoration-none text-dark" asp-area="" asp-controller="Home" asp-action="Doziobluch">Дозы радиационного облучения.</a></li>
        <li><a class="text-decoration-none text-dark" asp-area="" asp-controller="Home" asp-action="Doziistoch">Дозы, получаемые человеком от различных источников радиации.</a></li>
        <li><a class="text-decoration-none text-dark" asp-area="" asp-controller="Home" asp-action="Radandpit">Радиация и питание.</a></li>
        <li><a class="text-decoration-none text-dark" asp-area="" asp-controller="Home" asp-action="Kakieprod">Какие продукты следует употреблять.</a></li>
        <li><a class="text-decoration-none text-dark" asp-area="" asp-controller="Home" asp-action="Prigovosh">Приготовление овощей и фруктов.</a></li>
        <li><a class="text-decoration-none text-dark" asp-area="" asp-controller="Home" asp-action="Prigmoloko">Приготовление молока и молочных продуктов.</a></li>
        <li><a class="text-decoration-none text-dark" asp-area="" asp-controller="Home" asp-action="Prigmyaso">Приготовление мяса</a></li>
        <li><a class="text-decoration-none text-dark" asp-area="" asp-controller="Home" asp-action="Zdoroviy">Здоровый образ жизни.</a></li>
        <li><a class="text-decoration-none text-dark" asp-area="" asp-controller="Home" asp-action="Radmonit">Радиационный мониторинг за пищевыми продуктами.</a></li>
    </ol>
</div>

