@{
    ViewData["Title"] = "Виды ионизируещих излучений";
}

<div class="left text-left">
    <h5 class="text-center">@ViewBag.Title</h5>
    <p class="font-weight-bold">
        Нестабильные, самопроизвольно распадающиеся атомы называют радио-нуклидами. Все они стремятся перейти в устойчивое (стабильное) состояние и ис-пускают различные виды излучений (рис. 4).
        Выделение энергии в виде излучений при ядерных превращениях называют радиоактивностью.
    </p>
    <div class="pictures text-center mt-2">
        <div class="pictures_line">
            <img src="~/radiation9.png" class="pic_full" />
        </div>
    </div>
</div>
<div class="right text-left">
    <p><b>Гамма-излучение</b>, подобно рентгеновским лучам, представляет собой электромагнитное излучение сверхвысоких энергий. Гамма-лучи не несут электрического заряда. Гамма-излучение обладает самой высокой проникающей способностью по сравнению с другими видами радиоактивного излучения (проходит через тело человека).</p>
    <p><b>Бета-излучение</b> — это поток движущихся с огромной скоростью отрицательно заряженных электронов. Это излучение обладает большой проникающей способностью (проходит через кожу в ткани организма на глубину 1-2 см).</p>
    <p><b>Альфа-излучение</b>— это поток положительно заряженных частиц, каждая из которых состоит из двух протонов и двух нейтронов. Проникающая способность этого вида излучения гораздо меньше, чем гамма- и бета-лучей ( альфа-излучение не проходит через кожу чело-века, но может представлять опасность для глаз). Альфа-лучи испускаются при радиоактивном распаде таких радионуклидов как плутоний-238, 239, 240 и америций-241, выпавших, в основном, в 30-километровой зоне Чернобыльской АЭС.</p>
</div>

