@{
    ViewData["Title"] = "Какие продукты следует употреблять";
}

<div class="left text-left">
    <h5 class="text-center">@ViewBag.Title</h5>
    <p>
        Существуют два принципа питания, защищающие от радиации. Первый – принцип оптимального здоровья, заключающийся в насыщении организма полезными веществами. Второй принцип – употреблять продукты питания, способствующие выведению и уменьшению накопления  радионуклидов в организме человека. В условиях проживания на загрязненной территории питание
        должно быть полноценным, разнообразным и экологически чистым.
    </p>
    <p><b>Какие продукты следует употреблять?</b></p>
    <p>
    </p>Это хлеб грубого помола, крупы, свежие овощи, фрукты, ягоды, бобовые растения, орехи, семечки. Пищевое волокно (целлюлоза, лигнин, пектин) является составной частью этих продуктов, оно регулирует чистоту нашего организма, ускоряет прохождение пищи по кишечнику и действует как губка, поглощая воду и растворенные в ней токсичные вещества.
    <p><b>Подружитесь с зерном!</b> Неочищенный рис, просо, ячмень, кукуруза, гречка, овес практически не употребляются, а очень жаль, поскольку в них много клетчатки, сложных углеводов, белка, микроэлементов, витаминов. А вот древние цивилизации знали, что цельное зерно – надежный помощник жизни. К тому же углеводы в природной упаковке помогают контролировать свой вес.</p>
    <p><b>Съешьте свои овощи!</b> Каждый прием пищи должен на четверть состоять из свежих овощей. Это хороший источник клетчатки, кальция, железа, витаминов. Зеленые овощи, содержащие серу (капуста, хрен, брюква), желтые овощи, содержащие каротин (морковь, тыква, пастернак), бобовые, содержащие фитаты (горох, фасоль, бобы, соя), очень полезны в условиях повышенной радиации. Овощи способствуют кроветворению, а хорошая кровь – важный фактор здоровья.</p>
    <p>
        <b>Пейте много фруктово-ягодных соков!</b> Соки, особенно мякотные (яблочный, грушевый, сливовый, вишневый, абрикосовый, апельсиновый и др.), не только содержат много витаминов, но и способствуют выведению радионуклидов из организма. Полезны также свежие фрукты и ягоды, морсы, джемы, мармелад.
    </p>
</div>
<div class="right text-left">
    <p>
        <b>Включите в рацион орехи и семена!</b> Это полноценные, компактные продукты питания, созданные самой природой. Радиозащитные качества орехов и семян заключают-ся в том, что они содержат пищевые волокна, фитаты и витамин Е.
    </p>
    <p>
        <b>Принимайте травяные настои и чай!</b> Ромашка, зверобой, мята, тысячелистник, шиповник, укроп, зеленый чай оказывают слабое мочегонное и желчегонное действие и тем самым усиливают выведение токсичных веществ из организма.
    </p>
    <p>
        <b>Каких продуктов следует избегать?</b> Чрезмерное количество сахара вредно для здоровья: набирается лишний вес, нарушается обмен веществ. Большое потребление жи-ров и мяса засоряет наши артерии, перегружает печень и почки, которые особо важно поддерживать в здоровом состоянии, ибо они играют важную роль в выведении радио-нуклидов из организма. Хотя молоко - полезный продукт, нет причины им увлекаться. Вклад молочной компоненты в общую дозу может достигать 50%. Рекомендуются кисломо-лочные продукты – творог, сметана, масло, сыры – они содержат гораздо меньше радио-нуклидов по сравнению со свежим молоком.
    </p>
    <div class="pictures text-center">
        <div class="pictures_line">
            <img src="~/radiation24.png" class="pic_full" />
            <img src="~/radiation25.png" class="pic_full" />
        </div>
        <div class="pictures_line">
            <img src="~/radiation26.png" class="pic_full" />
        </div>
    </div>
</div>

