@{
    ViewData["Title"] = "Приготовление молока и молочных продуктов";
}

<div class="left text-left">
    <h5 class="text-center">@ViewBag.Title</h5>
    <div class="pictures text-center">
        <div class="pictures_line d-flex flex-row border border-dark">
            <img src="~/radiation29.png" class="pic_bigger" />
            <div class="text">
                <ul>
                    <li><b>Перерабатывать молоко на жирные молочные продукты.</b> Такая переработка молока может существенно снизить поступление радионуклидов с пищей в организм человека, поскольку  радионуклиды цезия и стронция не связаны с жировой частью молока. При сбивании сливок, сметаны в масло происходит дальнейшее удаление радионуклидов. Топленое масло вообще не содержит радионуклидов.</li>
                </ul>
            </div>
        </div>

    </div>

</div>
<div class="right text-left">
    <div class="pictures">
        <div class="pictures_line d-flex flex-row border border-dark">
            <div class="text">
                <ul>
                    <li>
                        <b>Готовить творог, сыры.</b>
                        При приготовлении сыров сычужным способом содержание цезия-137 в готовом продукте уменьшается в 8-10 раз, а содержание стронция-90 уменьшается только на 20%.
                        При использовании кислотных способов приготовления сыров стронций-90 будет образовывать растворимые соли, которые удаляются с сывороткой  во время прессования продукта.
                    </li>
                </ul>
            </div>
            <img src="~/radiation30.png" class="pic_bigger" />
        </div>
        <div class="pictures_line d-flex flex-row border border-dark mt-2">
            <img src="~/radiation31.png" class="pic_bigger" />
            <div class="text">
                <ul>
                    <li>
                        <b>Молочную сыворотку полностью исключить из употребления в пищу.</b>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

