@{
    ViewData["Title"] = "Приготовление овощей и фруктов";
}

<div class="left text-left">
    <h5 class="text-center">@ViewBag.Title</h5>
    <div class="pictures text-center">
        <div class="pictures_line d-flex flex-row border border-dark">
            <img src="~/radiation27.png" class="pic_bigger" />
            <div class="text">
                <ul>
                    <li>Квашение, маринование, соление приводит к снижению содержания радиоактивных веществ в продуктах на 15 20%. Рассолы, маринады использовать в пищу не рекомендуется.</li>
                    <li>Тушение очищенной моркови, свеклы, помидоров снижает содержание в них цезия на 30-50%.</li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="right text-left">
    <div class="pictures">
        <div class="pictures_line d-flex flex-row border border-dark mt-2">
            <div class="text">
                <ul>
                    <li>Картофель желательно отваривать — при варке картофеля, очищенного от кожуры, содержание цезия в нем уменьшается на 60-80%. Отвар не использовать.</li>
                    <li>Грибы перед приготовлением обязательно надо вымочить в солевом растворе, затем промыть и прокипятить. Первый отвар не использовать — в раствор переходит до 40% радионуклидов. При кипячении в подсоленную воду желательно добавить немного столового уксуса или лимонной кислоты.</li>
                </ul>
            </div>
            <img src="~/radiation28.png" class="pic_bigger" />
        </div>
    </div>
</div>

