@{
    ViewData["Title"] = "Приготовление мяса";
}

<div class="left text-left">
    <h5 class="text-center">@ViewBag.Title</h5>
    <div class="pictures text-center">
        <div class="pictures_line d-flex flex-row border border-dark">
            <div class="text">
                <ul>
                    <li class="font-weight-bold">Мясо разных животных по-разному накапливает радионуклиды - в свинине радионуклидов содержится значительно меньше, чем в баранине, говядине и мясе птицы.</li>
                    <li class="font-weight-bold">Цезий откладывается преимущественно в мясе животных, стронций-90 преимущественно в костях.</li>
                </ul>
            </div>
            <img src="~/radiation32.png" class="pic_bigger" />
        </div>
        <div class="pictures_line d-flex flex-row border border-dark mt-2">
            <img src="~/radiation33.png" class="pic_bigger" />
            <div class="text">
                <ul>
                    <li class="font-weight-bold">
                        Накопление цезия в отдельных органах и тканях животных уменьшается в ряду: почки, печень, селезенка, сердце, легкие, мышцы,  мозги, жир.
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="right text-left">
    <div class="pictures_line d-flex flex-row border border-dark">
        <img src="~/radiation34.png" class="pic_bigger" />
        <div class="text">
            <ul>
                <li>
                    <b>Мясо желательно нарезать на небольшие кусочки и замочить в рассоле, при этом рассол несколько раз менять.</b> Чтобы сохранить питательные вещества при вымачивании мяса, в солевой раствор необходимо добавить немного уксусной эссенции или аскорбиновой кислоты.
                </li>
            </ul>
        </div>
    </div>
    <div class="pictures_line d-flex flex-row border border-dark mt-2">
        <div class="text">
            <ul>
                <li>
                    <b>Мясо рекомендуется отваривать.</b> При обычной варке из мяса в бульон переходит 50% радионуклидов, а из костей - 1%. Это необходимо учитывать при приготовлении первых блюд на мясо - костном бульоне. При жарке мяса содержание радионуклидов в мясе не уменьшается.
                </li>
            </ul>
        </div>
        <img src="~/radiation35.png" class="pic_bigger" />
    </div>
</div>

