@{
    ViewData["Title"] = "Радиация и питание";
}

<div class="left text-left">
    <h5 class="text-center">@ViewBag.Title</h5>
    <p>
        <b>Почему человеку необходима пища?</b> Каждый продукт снабжает вас своим количеством энергии, которую измеряют в килокалориях (ккал). Пища состоит из множества веществ (белков, углеводов, жиров, минеральных веществ, витаминов), в которых вы нуждаетесь, чтобы расти, работать и восстанавливать свой организм. Без пищи вы не смогли бы двигаться, под-держивать тепло в своем теле, выздоравливать после болезни. Ваше тело строит себя из белков так же, как строитель строит из кирпичей дом. Лучшая белковая пища – мясо, рыба, молочные продукты, орехи. Без энергии вы напоминали бы автомобиль без бензина. Основные источники энергии – углеводы и жиры. В небольших количествах организм нуждается в минеральных веществах и витаминах, многие из которых обладают общеукрепляющими и защитными свойствами.
    </p>
    <p>Это витамины Е, С, А, бета- каротин, калий, кальций, йод, железо, хром, магний, селен, цинк. Питаясь разнообразно, вы вряд ли столкнетесь с не-достатком этих веществ.</p>
    <div class="pictures text-center">
        <div class="pictures_line">
            <img src="~/radiation16.png" class="pic_bigger" />

        </div>
    </div>
</div>
<div class="right text-left">
    <div class="pictures text-center">
        <div class="pictures_line">
            <img src="~/radiation17.png" class="pic_bigger" />
            <img src="~/radiation18.png" class="pic_bigger" />
            <img src="~/radiation19.png" class="pic_bigger" />
            <img src="~/radiation20.png" class="pic_bigger" />
        </div>
        <div class="pictures_line">
            <img src="~/radiation21.png" class="pic_bigger" />
            <img src="~/radiation22.png" class="pic_bigger" />
        </div>
        <div class="pictures_line">
            <img src="~/radiation23.png" class="pic_full" />
        </div>
    </div>
</div>

