@{
    ViewData["Title"] = "Что такое радиация?";
}

<div class="left text-left">
    <h5 class="text-center">@ViewBag.Title</h5>
    <p><b>Радиация</b> — это излучение и перенос энергии в пространстве. Радиация существовала на Земле задолго до зарождения на ней жизни и присутствовала в космосе до возникновения самой Земли. Различные виды излучения окружают нас повсюду. Они поступают из Космического пространства и рождаются на Земле. К ним относятся видимый свет, ультрафиолетовое, радиоволновое, инфракрасное, рентгеновское, радиоактивное и другие виды излучения, испускаемые различными источниками</p>

</div>
<div class="right text-left">
    <div class="pictures flex-column justify-content-between h-100">
        <div class="pictures_line">
            <img src="~/radiation1.png" class="pic_bigger" />
            <img src="~/radiation2.png" class="pic_bigger" />
        </div>
        <div class="pictures_line">
            <img src="~/radiation3.png" class="pic_bigger" />
            <img src="~/radiation4.png" class="pic_bigger" />
        </div>
        <div class="pictures_line">
            <img src="~/radiation5.png" class="pic_bigger" />
            <img src="~/radiation6.png" class="pic_bigger" />
        </div>
        <p class="text-center font-weight-bold">Различные источники радиации</p>
    </div>
</div>

