@{
    ViewData["Title"] = "Что такое радиоактивность?";
}

<div class="left text-left">
    <p><b>Радиоактивность является результатом неустойчивости атомного ядра.</b> Атомы — это основные кирпичики, из которых построено все вокруг нас. По своему строению атом напоминает миниатюрную Солнечную систему. Вокруг крошечного очень плотного ядра, которое располагается в центре атома и состоит из положительно заряженных протонов и не имеющих заряда нейтронов, движутся отрицательно заряженные электроны. </p>
    <div class="pictures text-center">
        <div class="pictures_line">
            <img src="~/radiation7.png" class="pic" />
        </div>
        <p class="text-center font-weight-bold">Схема строения атома</p>
    </div>
    <p>По размерам и массе электроны значительно меньше ядра. В целом, атом электрически нейтрален, так как положительный заряд ядра уравновешен отрицательным зарядом окру-жающих его электронов. Число протонов в ядре определяет, с каким химическим элементом мы имеем дело. Ядра атомов одного и того же элемента всегда содержат одно и тоже число протонов, но число нейтронов в них может быть различным.</p>
</div>
<div class="right text-left">
    <p class="font-weight-bold">Атомы с одинаковым количеством протонов, но отличающиеся по числу нейтронов, относятся к различным разновидностям одного и того же химического элемента. Их называют изотопами данного элемента.</p>
    Некоторые виды атомов стабильны и имеют ядра неизменного состава. Другая часть разновидностей атомов, существующих в природе, неустойчива и постоянно подвергается ядерным превращениям.
    <div class="pictures text-center mt-2">
        <div class="pictures_line">
            <img src="~/radiation8.png" class="pic_full" />
        </div>
        <p class="text-center font-weight-bold">Состав ядер изотопов цезия и стронция</p>
    </div>
</div>

