@{
    ViewData["Title"] = "Радиационный мониторинг за пищевыми продуктами";
}

<div class="left text-left">
    <h5 class="text-center">@ViewBag.Title</h5>
    <p class="font-weight-bold">Не ленитесь проверить уровень радиоактивного загрязнения пищевых продуктов, которые Вы едите, если не уверены в их чистоте. </p>
    <p>
        Нормы допустимого уровня загрязнения цезием-137 некоторых основных сельскохозяйственных продуктов питания следующие:
    </p>
    <ul class="list-unstyled">
        <li class="d-flex flex-row align-items-center border border-dark">
            <div class="text">
                <ul>
                    <li>
                        молока — 30-100 Бк/кг (при загрязнении молока  выше 100 Бк/кг его следует перерабатывать на сметану и масло);
                    </li>
                </ul>
            </div>
            <div class="pictures">
                <div class="pictures_line">
                    <img src="~/radiation42.png" class="pic_full" />
                </div>
            </div>
        </li>
        <li class="d-flex flex-row align-items-center border border-dark mt-2">
            <div class="pictures">
                <div class="pictures_line">
                    <img src="~/radiation43.png" class="pic_full" />
                </div>
            </div>
            <div class="text">
                <ul>
                    <li>говядины, баранины - 500 Бк/кг;</li>
                    <li>свинины, птицы - 180 Бк/кг;</li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<div class="right text-left">
    <ul class="list-unstyled">
        <li class="d-flex flex-row align-items-center border border-dark mt-2">
            <div class="text">
                <ul>
                    <li>овощей 100 Бк/кг; </li>
                    <li>фруктов - 40 Бк/кг;  </li>
                    <li>садовых ягод -70 Бк/кг;</li>
                    <li>грибов - 370 Бк/кг.</li>
                    <li>зерна - 90 Бк/кг;</li>
                    <li>лекарственно-техническо¬го сырья — 1850 Бк/кг.</li>
                </ul>
            </div>
            <div class="pictures">
                <div class="pictures_line">
                    <img src="~/radiation44.png" class="pic_full" />
                </div>
            </div>
        </li>
    </ul>
    <b>При ведении личного подсобного хозяйства обращайтесь за помощью к специалистам и пользуйтесь их советами.</b>

</div>

