@{
    ViewData["Title"] = "Здоровый образ жизни";
}

<div class="left text-left">
    <h5 class="text-center">@ViewBag.Title</h5>
    <p class="font-weight-bold">Здоровый образ жизни - самый лучший помощник в защите от вредных воздействий окружающей среды.</p>
    <ul class="list-unstyled">
        <li class="d-flex flex-row align-items-center border border-dark">
            <div class="text">
                <b>Поддерживайте организм в хорошей физической форме.</b>
                <p>Это повысит его сопротивляемость. Минимум два часа в неделю посвятите выполнению физических упражнений.</p>
            </div>
            <div class="pictures">
                <div class="pictures_line">
                    <img src="~/radiation36.png" class="pic_full" />
                </div>
            </div>
        </li>
        <li class="d-flex flex-row align-items-center border border-dark mt-2">
            <div class="pictures">
                <div class="pictures_line">
                    <img src="~/radiation37.png" class="pic_full" />
                </div>
            </div>
            <div class="text">
                <b>Соблюдайте правила личной гигиены.</b>
            </div>
        </li>
        <li class="d-flex flex-row align-items-center border border-dark mt-2">
            <div class="text">
                <b>Реально оценивайте свои цели и возможности.</b>
                <p>Не ставьте перед собой невыполнимые задачи.</p>
            </div>
            <div class="pictures">
                <div class="pictures_line">
                    <img src="~/radiation38.png" class="pic_full" />
                </div>
            </div>
        </li>
    </ul>

</div>
<div class="right text-left">
    <ul class="list-unstyled">
        <li class="d-flex flex-row align-items-center border border-dark">
            <div class="pictures">
                <div class="pictures_line">
                    <img src="~/radiation39.png" class="pic_full" />
                </div>
            </div>
            <div class="text">
                <b>Разумно совмещайте работу и отдых.</b>
                <p>Постарайтесь спать не менее 7 часов в сутки.</p>
            </div>
        </li>
        <li class="d-flex flex-row align-items-center border border-dark">
            <div class="text">
                <b>Придерживайтесь по возможности режима питания.</b>
                <p>Правильное и сбалансированное питание повысит устойчивость организма к воздействию неблагоприятных факторов внешней среды.</p>
            </div>
            <div class="pictures">
                <div class="pictures_line">
                    <img src="~/radiation40.png" class="pic_full" />
                </div>
            </div>
        </li>
        <li class="d-flex flex-row align-items-center border border-dark mt-2">
            <div class="pictures">
                <div class="pictures_line">
                    <img src="~/radiation41.png" class="pic_full" />
                </div>
            </div>
            <div class="text">
                <b>Знайте как и  умейте правильно подготовить и переработать сельскохозяйственные продукты и дары леса перед употреблением в пищу.</b>
                <p>Это не сложно. </p>
            </div>
        </li>
    </ul>
</div>

